@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.service {
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
}

#contact h3 {
    display: inline-block;
}
#contact h3 a {
    display: inline-block;
    margin-left: 5px;
}
#contact img {
    display: inline-block;
    width: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}